{% extends 'layout.html.twig' %}
{% block title %} whole wild World{% endblock %}

{% import 'form.html.twig' as form %}

{% block main %}
    <section>
        <div class="container">
            <form class="form-horizontal" role="form" method="POST" action="resetPassword">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <h2>Réinitialisation de votre mot de passe</h2>
                        <hr>
                        {{"Entrer adresse email associé au compte à réinitialiser"}}
                    </div>
                </div>
                <br>
                {{ form.input('email', 'Votre email', 'you@example.com', {class: 'at', type: 'email',value:session.email } ) }}




                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <button type="submit" id="register" class="btn btn-success"> Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </section>



{% endblock %}

{% block script %}
    {{ parent() }}
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="public/js/alert_connexion.js"></script>
{% endblock script %}
