{% extends 'layout.html.twig' %}
{%  import 'form.html.twig' as form %}
{#{% block stylesheet %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>

{% endblock stylesheet %}#}


{% block Test %}
{{ dump(session.id) }}

{% endblock Test %}






{% block main %}










    <section>
        <div class="container">
            <form class="form-horizontal" role="form" method="POST" action="controlNewPassword" id="signUp">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <h2>Réinitialisation du mot de passe</h2>
                        <hr>
                    </div>
                </div>


                {{ form.input('password', 'Mot de passe', 'Password', {class: 'key', type: 'password' } ) }}
                {{ form.input('password2', 'Confirmation du Mot de passe', 'Password', {class: 'repeat', type: 'password' } ) }}



                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <button type="submit" id="resetPassword" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
                    </div>
                </div>
            </form>
        </div>
    </section>


<div class="modal fade" id="Succes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Bienvenue</h5>
                <button type="button" id=" dismissModalCross" class="close" data-dismiss="modal" aria-label="Close">
                    <span idaria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                Bienvenue parmi nous, vous êtes maintenant inscript. un mail de confirmation vous a été envoyé afin de
                valider votre compte.
            </div>


            <div class="modal-footer">
                <button type="button" id="dismissModal"  class="btn btn-success" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>











{% endblock  main%}

{% block script %}
    {{ parent() }}
    <script src="public/js/alert.js"></script>









{% endblock script %}


