{% extends 'homeUser.html.twig' %}
{% block brand %}
    <a class="text-white" href="home">Back End</a>

{% endblock brand %}


{% block TEST %}

{% endblock TEST %}




{% block main %}

<table class="table table-hover">
    <caption>Statistiques</caption>
    <thead>
    <tr>
        <th></th>
        <th>Nombre de visiteur connectés</th>
        <th>Titre</th>
        <th>Messages</th>
        <th>date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td class="text-center">{{visits.0}}</td>
    </tr>


</tbody></table>

{% endblock main %}
